.dealerTable {
  display: flex;
  justify-content: center;
}

.playerTable {
  justify-content: center;
  display: flex;
}

.card {
  border: solid 1px #aaa;
  border-radius: 9px;
  width: 9.5vh;
  height: 11vh;
  background-color: white;
  padding: 3px 3px 3px 3px;
  margin: 5px;
}
.scoreBoard {
  text-align: center;
}
.gameOptions {
  text-align: center;
  padding: 2rem;
}
.suit {
  background-image: url("https://www.thatsoftwaredude.com/images/post/0f631eeb-6c4a-4bfd-9f86-e0a08ae8584b.png");
  height: 100px;
  width: 90px;
}
.clubs {
  background-position-x: 93px;
  background-position-y: 100px;
}
.hearts {
  background-position-x: 95px;
}
.spades {
  background-position-x: 8px;
}
.diamonds {
  background-position-y: -100px;
  background-position-x: 3px;
}
