* {
  color: black;
}
.result {
  font-size: 1.5rem;
}
.landingPage {
  text-align: center;
}
button {
  border-radius: 5px;
  background: green;
  margin: 0.5rem;
  color: white;
}
.result {
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.dealerTable {
  display: flex;
  justify-content: center;
}
.App {
  padding: 10rem;
  height: 65vh;
  background: lightgray;
}
.container {
  border: 1px solid #aaa;
  border-radius: 5px;
  background: white;
  padding-bottom: 1rem;
}

.playerTable {
  justify-content: center;
  display: flex;
}

.card {
  border: solid 1px #aaa;
  border-radius: 9px;
  width: 9.5vh;
  height: 11vh;
  background-color: white;
  padding: 3px 3px 3px 3px;
  margin: 5px;
}
.scoreBoard {
  text-align: center;
}
.gameOptions {
  text-align: center;
  padding: 2rem;
}
.suit {
  background-image: url("https://www.thatsoftwaredude.com/images/post/0f631eeb-6c4a-4bfd-9f86-e0a08ae8584b.png");
  height: 100px;
  width: 90px;
}
.clubs {
  background-position-x: 93px;
  background-position-y: 100px;
}
.hearts {
  background-position-x: 95px;
}
.spades {
  background-position-x: 8px;
}
.diamonds {
  background-position-y: -100px;
  background-position-x: 3px;
}
